html {
	overflow-x: hidden;
}

.first_song, .second_song, .song_block {
	width: 95%;
	height: 55px;
	margin-bottom: 12px;
	margin-left: 1%; 
	margin-right: 2%;
	overflow-x: hidden;
	overflow-y: hidden;
	word-break: break-all;
}

.firstNumber, .number {
	overflow-x:hidden;
	box-sizing: border-box;
	font-size: 32px;
}

.discription {
	margin-left: 1%; 
	margin-right: 2%;
}

.picture {
	border-radius: 5px;
	height: 55px;
	/*float: right; 
	float: left; *//* Выравнивание по левому краю */
	position:absolute;
	/*left:372px;*/
	right:-2%
}

.align_center{
	display: flex;
	align-items: center;
	color: #ffffff;
}

.songName {
	text-align: center;
	margin-left: 22px;
	margin-bottom: 60px;
	margin-top: 35px;
	position:absolute;
	/*left: 10%;*/
	right: -65px;
	/*font-size: 16px; 15-17 самый нрм */
}

.artistName {
	text-align: center;
	margin-left: 30px;
	margin-bottom: 40px;
	margin-top: 65px;
	position:absolute;
	left: 9%;
	right: 70px;
	font-size: 13px;
}